.datepicker {
  color: #fff;
}

.datepicker-calendar-container {
  background-color: #f0f0f0;
}

.datepicker-date-display {
  background-color: #6f017e;
}

.datepicker-day-button {
  color: #6f017e;
}

.datepicker-controls .select-month input,
.datepicker-controls .select-year input {
  width: 100%;
  color: #000;
}