.tickets-message {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  color: crimson;
  background-color: #e6e3e3;
  max-width: 550px;
  margin: 0 auto;
  box-shadow: 0 0 8px red;
}